@charset "UTF-8";

header {
    background-image: linear-gradient(to bottom, #1D844B, #053418);
    color: white;
    padding: 10px;
    text-align: center;
}

header > nav {
    text-align: left;
}

header > p {
    width: 70%;
    margin: 10px auto;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: #083D1E;
    background-color: white;
    border-radius: 10%;
}

body {
    background-color: #C5EBD6;
    margin: 0 auto;
}

main {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}